
<ul>
  <li>Drone</li>
  <ul>
    <li>Function:</li>
      <ul>
        <li>Drones can be used to conduct site surveys, fly around with high resolution cameras to see how their building looks. Definitely better than workers standing at the ground looking straight up at the building.</li>
        <li>Can monitor progress during construction.</li>
      </ul>
    <li>Costs: $350-500</li>
  </ul>
</ul>

<ul>
  <li>3D printer</li>
  <ul>
    <li>Function:</li>
    <ul>
      <li>Construct buildings with faster efficiency, productivity</li>
      <li>It doesn't print mixture fast enough, it will be harden before being used</li>
    </ul>
    <li>Cost: $180k - 1M</li>
  </ul>
</ul>

