<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="style.css" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap" rel="stylesheet">
        <style>
            /* CSS */

        </style>

        <title>Construction</title>
    </head>
    <body>
        <!-- HTML -->
        <header>
          <!-- Sidebar -->
          <nav class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky" style="padding-top: 10vh;">
              <h3 class="text-center">Construction</h3>
              <hr>
              <div class="list-group list-group-flush mx-3 mt-4">
                {% for item in site.data.sidebar %}
                  <a href="{{ item.link }}" class="list-group-item list-group-item-action py-2 ripple {% if page.url == item.link %}active{% endif %}" aria-current="true">
                  {{ item.name }}
                  </a>
                {% endfor %}
              </div>
            </nav>
        </header>
        <div class="container-fluid" data-bs-spy="scroll" data-bs-target="sidebar" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
          <div style="padding: 50px;" id="Context">
            {{ content }}
          </div>
          <hr>
          <div class="container text-center" style="padding: 50px;">
            <h3>Modern technologies</h3>
          </div>
          <div class="container" style="padding: 50px;" id="hardware">
            <h4>Hardware:</h4>
            <div class="row" style="padding: 30px;">
              <div class="col-12 col-md-4">
                <img src="img/Drone.jpeg" class="center" width="200vh;">
              </div>
              <div class="col-12 col-md-8">
                {% include drone.html %}
              </div>
            </div>
            <div class="row" style="padding: 30px;">
              <div class="col-12 col-md-4">
                <img src="img/3d-printer.jpg" class="center" width="200vh;">
              </div>
              <div class="col-12 col-md-8">
                {% include 3d-printer.html %}
              </div>
            </div>
          </div>
          <div class="container" style="padding: 50px;" id="software">
            <h4>Software:</h4>
            <div class="row" style="padding: 30px;">
              <div class="col-12 col-md-4">
                <img src="img/fieldwire.png" class="center" width="150vh;">
              </div>
              <div class="col-12 col-md-8">
                {% include fieldwire.html %}
              </div>
            </div>
            <div class="row" style="padding: 30px;">
              <div class="col-12 col-md-4">
                <img src="img/plangrid.png" class="center" width="150vh;">
              </div>
              <div class="col-12 col-md-8">
                {% include plangrid.html %}
              </div>
            </div>
          </div>
          <hr>
          <div class="container text-center" style="padding: 50px;">
            <h3>Brainstormed invention</h3>
          </div>
          <div class="container" style="padding: 50px;" id="solution">
            {% include solution.html %}
          </div>

        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="script.js"></script>
        <script>
            // JS


        </script>
    </body>
</html>