<!DOCTYPE html>
<html>
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" />
        <link href="style.css" rel="stylesheet" type="text/css" />
        <style>
            /* CSS */

        </style>

        <title>Construction</title>
    </head>
    <body>
        <!-- HTML -->
        <header>
          <!-- Sidebar -->
          <nav class="collapse d-lg-block sidebar collapse bg-white">
            <div class="position-sticky">
              <h3 class="text-center">Construction</h3>
              <hr>
              <div class="list-group list-group-flush mx-3 mt-4">
                {% for item in site.data.sidebar %}
                  <a href="{{ item.link }}" class="list-group-item list-group-item-action py-2 ripple {% if page.url == item.link %}active{% endif %}" aria-current="true">
                  {{ item.name }}
                  </a>
                {% endfor %}
              </div>
            </nav>
        </header>
        <div class="container-fluid" data-bs-spy="scroll" data-bs-target="sidebar" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
          <div style="padding: 50px;" id="Context">
            {{ content }}
          </div>
          <hr>
          <div class="container" style="padding: 50px;" id="hardware">
            <h4>Hardware that was invented for construction:</h4>
            {% include hardware.html %}
          </div>
          <hr>
          <div class="container" style="padding: 50px;" id="software">
            <h4>Software that was invented for construction:</h4>
            {% include software.html %}
          </div>
          <hr>
          <div class="container" style="padding: 50px;" id="solution">
            {% include solution.html %}
          </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="script.js"></script>
        <script>
            // JS


        </script>
    </body>
</html>